<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
        *{
            font-family: sans-serif;
        }
        body{
            text-align: center;
            
        }
        h1 { color: #F7901E }
        p { color: #686A6D;

        font-size: 16px;
        
        }
        button {
            background-color: #F7901E;
            color:white;
            font-weight: bold;
            margin-bottom: 30px;
            padding-left: 25px;
        }
    </style>

    </head>
    <body>
        <h1>SME Strategic Development</h1>
        <h1>Verify Your Account</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem eaque fugiat, veritatis minima ad quas, iure odisa ewas voadnea.</p>
        <a href="{{URL}}"><button>Verify</button></a>
    </body>
</html>